<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mscommand" xsi:type="object">Walkwizus\MeilisearchBase\Console\Command\TestCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Walkwizus\MeilisearchBase\Api\Index\SettingsInterface" type="Walkwizus\MeilisearchBase\Index\Settings" />
    <preference for="Magento\Framework\Search\Dynamic\DataProviderInterface" type="Walkwizus\MeilisearchBase\SearchAdapter\Dynamic\DataProvider" />
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="meilisearch" sortOrder="50" xsi:type="string">Meilisearch</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="meilisearch" xsi:type="string">meilisearch</item>
            </argument>
            <argument name="defaultEngine" xsi:type="string">meilisearch</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="meilisearch" xsi:type="string">Walkwizus\MeilisearchBase\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="meilisearch" xsi:type="string">Walkwizus\MeilisearchBase\SearchAdapter\Adapter</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Walkwizus\MeilisearchBase\SearchAdapter\ProductEntityMetadata" type="Magento\Framework\Search\EntityMetadata">
        <arguments>
            <argument name="entityId" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <type name="Walkwizus\MeilisearchBase\SearchAdapter\DocumentFactory">
        <arguments>
            <argument name="entityMetadata" xsi:type="object">Walkwizus\MeilisearchBase\SearchAdapter\ProductEntityMetadata</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Dynamic\IntervalFactory">
        <arguments>
            <argument name="intervals" xsi:type="array">
                <item name="meilisearch" xsi:type="string">Walkwizus\MeilisearchBase\SearchAdapter\Aggregation\Interval</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Dynamic\DataProviderFactory">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="meilisearch" xsi:type="string">Walkwizus\MeilisearchBase\SearchAdapter\Dynamic\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Walkwizus\MeilisearchBase\SearchAdapter\Aggregation\Builder">
        <arguments>
            <argument name="dataProviderContainer" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Walkwizus\MeilisearchBase\SearchAdapter\Dynamic\DataProvider</item>
            </argument>
            <argument name="aggregationContainer" xsi:type="array">
                <item name="termBucket" xsi:type="object">Walkwizus\MeilisearchBase\SearchAdapter\Aggregation\Builder\Term</item>
                <item name="dynamicBucket" xsi:type="object">Walkwizus\MeilisearchBase\SearchAdapter\Aggregation\Builder\Dynamic</item>
            </argument>
        </arguments>
    </type>
    <type name="Walkwizus\MeilisearchBase\SearchAdapter\Dynamic\DataProvider">
        <arguments>
            <argument name="indexerId" xsi:type="const">\Magento\CatalogSearch\Model\Indexer\Fulltext::INDEXER_ID</argument>
        </arguments>
    </type>
    <virtualType name="meilisearchSearchCriteriaResolverFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\SearchCriteriaResolverFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Walkwizus\MeilisearchBase\Model\ResourceModel\Fulltext\Collection\SearchCriteriaResolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchSearchResultApplier\Factory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplierFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier</argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchTotalRecordsResolver\Factory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\TotalRecordsResolverFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\TotalRecordsResolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchCategoryCollection" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">catalog_view_container</argument>
            <argument name="searchCriteriaResolverFactory" xsi:type="object">meilisearchSearchCriteriaResolverFactory</argument>
            <argument name="searchResultApplierFactory" xsi:type="object">meilisearchSearchResultApplier\Factory</argument>
            <argument name="totalRecordsResolverFactory" xsi:type="object">meilisearchTotalRecordsResolver\Factory</argument>
            <argument name="defaultFilterStrategyApplyChecker" xsi:type="object">Walkwizus\MeilisearchBase\Model\ResourceModel\Fulltext\Collection\DefaultFilterStrategyApplyChecker</argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchCategoryCollectionFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">meilisearchCategoryCollection</argument>
        </arguments>
    </virtualType>
    <virtualType name="elasticsearchLayerCategoryItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="meilisearch" xsi:type="object">meilisearchCategoryCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchFulltextSearchCollection" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
            <argument name="searchCriteriaResolverFactory" xsi:type="object">meilisearchSearchCriteriaResolverFactory</argument>
            <argument name="searchResultApplierFactory" xsi:type="object">meilisearchSearchResultApplier\Factory</argument>
            <argument name="totalRecordsResolverFactory" xsi:type="object">meilisearchTotalRecordsResolver\Factory</argument>
            <argument name="defaultFilterStrategyApplyChecker" xsi:type="object">Walkwizus\MeilisearchBase\Model\ResourceModel\Fulltext\Collection\DefaultFilterStrategyApplyChecker</argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchFulltextSearchCollectionFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">meilisearchFulltextSearchCollection</argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchSearchItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="meilisearch" xsi:type="object">meilisearchFulltextSearchCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="meilisearchAdvancedCollection" type="Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">advanced_search_container</argument>
            <argument name="searchCriteriaResolverFactory" xsi:type="object">meilisearchSearchCriteriaResolverFactory</argument>
            <argument name="searchResultApplierFactory" xsi:type="object">meilisearchSearchResultApplier\Factory</argument>
            <argument name="totalRecordsResolverFactory" xsi:type="object">meilisearchTotalRecordsResolver\Factory</argument>
            <argument name="defaultFilterStrategyApplyChecker" xsi:type="object">Walkwizus\MeilisearchBase\Model\ResourceModel\Fulltext\Collection\DefaultFilterStrategyApplyChecker</argument>
        </arguments>
    </virtualType>
    <virtualType name="elasticsearchLayerSearchItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="meilisearch" xsi:type="object">meilisearchFulltextSearchCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="meilisearch" xsi:type="string">Walkwizus\MeilisearchBase\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>
</config>
