<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Walkwizus\MeilisearchMerchandising\Api\CategoryRepositoryInterface" type="Walkwizus\MeilisearchMerchandising\Model\CategoryRepository"/>
    <preference for="Walkwizus\MeilisearchMerchandising\Api\FacetRepositoryInterface" type="Walkwizus\MeilisearchMerchandising\Model\FacetRepository"/>
    <preference for="Walkwizus\MeilisearchMerchandising\Api\FacetAttributeRepositoryInterface" type="Walkwizus\MeilisearchMerchandising\Model\FacetAttributeRepository"/>
    <preference for="Walkwizus\MeilisearchMerchandising\Api\Data\CategoryInterface" type="Walkwizus\MeilisearchMerchandising\Model\Category"/>
    <preference for="Walkwizus\MeilisearchMerchandising\Api\Data\FacetInterface" type="Walkwizus\MeilisearchMerchandising\Model\Facet"/>
    <preference for="Walkwizus\MeilisearchMerchandising\Api\Data\FacetAttributeInterface" type="Walkwizus\MeilisearchMerchandising\Model\FacetAttribute"/>
    <type name="Walkwizus\MeilisearchBase\Model\Adapter\Meilisearch">
        <plugin name="meilisearch_merchandising_facet_attributes" type="Walkwizus\MeilisearchMerchandising\Plugin\FacetAttributeUpdater"/>
    </type>
    <virtualType name="Walkwizus\MeilisearchMerchandising\Model\ResourceModel\Facet\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">meilisearch_merchandising_facet</argument>
            <argument name="resourceModel" xsi:type="string">Walkwizus\MeilisearchMerchandising\Model\ResourceModel\Facet</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="facet_listing_data_source" xsi:type="string">Walkwizus\MeilisearchMerchandising\Model\ResourceModel\Facet\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Walkwizus\MeilisearchMerchandising\Model\ResourceModel\MerchandisingCategory\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">meilisearch_merchandising_category</argument>
            <argument name="resourceModel" xsi:type="string">Walkwizus\MeilisearchMerchandising\Model\ResourceModel\MerchandisingCategory</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="category_merch_listing_data_source" xsi:type="string">Walkwizus\MeilisearchMerchandising\Model\ResourceModel\MerchandisingCategory\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
