<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <meilisearch_indices>
            <catalog_product>
                <prefix>magento</prefix>
                <pagination>1000</pagination>
                <ranking_rules>
                    <item1>
                        <rule>words</rule>
                    </item1>
                    <item2>
                        <rule>typo</rule>
                    </item2>
                    <item3>
                        <rule>proximity</rule>
                    </item3>
                    <item4>
                        <rule>attribute</rule>
                    </item4>
                    <item5>
                        <rule>sort</rule>
                    </item5>
                    <item6>
                        <rule>exactness</rule>
                    </item6>
                </ranking_rules>
                <typo_tolerance_enabled>1</typo_tolerance_enabled>
                <typo_tolerance_onetypo>5</typo_tolerance_onetypo>
                <typo_tolerance_twotypo>9</typo_tolerance_twotypo>
                <facets_max_value>100</facets_max_value>
                <facets_sort_by>alpha</facets_sort_by>
            </catalog_product>
            <catalog_category>
                <prefix>magento</prefix>
                <pagination>1000</pagination>
                <ranking_rules>
                    <item1>
                        <rule>words</rule>
                    </item1>
                    <item2>
                        <rule>typo</rule>
                    </item2>
                    <item3>
                        <rule>proximity</rule>
                    </item3>
                    <item4>
                        <rule>attribute</rule>
                    </item4>
                    <item5>
                        <rule>sort</rule>
                    </item5>
                    <item6>
                        <rule>exactness</rule>
                    </item6>
                </ranking_rules>
                <typo_tolerance_enabled>1</typo_tolerance_enabled>
                <typo_tolerance_onetypo>5</typo_tolerance_onetypo>
                <typo_tolerance_twotypo>9</typo_tolerance_twotypo>
                <facets_max_value>100</facets_max_value>
                <facets_sort_by>alpha</facets_sort_by>
            </catalog_category>
        </meilisearch_indices>
    </default>
</config>
